# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
venv/
.env
*.egg-info/
dist/
build/
.pytest_cache/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Local files
refresh_token.txt

z_old/